{% extends "base.html" %}
{% block content %}
    <div class="maible-narrow-content">
        <h2 class="maible-heading animate-box" data-animate-effect="fadeInLeft">Inbox</h2>
        <div class="row row-bottom-padded-md">
            {% for message in messages %}
                <div class="animate-box" >
                <div class="blog-entry">
                    <a href="{% url 'mail_details' mail_id=message.pk %}"></a>
                    <div class="title">
                        {% if message.read %}
                            <h3>{{ message.subject }}</h3>
                        {% else %}
                            <h3><b>{{ message.subject }}</b></h3>
                        {% endif %}
                        <span><small>From {{ message.from_header }} </small> / <small> {{ message.processed }}</small></span>
                    </div>
                    <div class="desc">
                        <p>{{ message.text|truncatechars:100 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
